---
title: Debug collections Eleventy
layout: layouts/base.njk
permalink: /fr/debug/collections/
---

<h1>🛠 Debug des collections Eleventy</h1>

{% for name in ["posts_fr", "posts_en", "tagList", "all", "allImages"] %}
  <h2>{{ name }}</h2>
  {% set items = collections[name] %}
  <p>Nombre d’items : {{ items.length }}</p>

  <ul>
    {% for item in items %}
      <li>
        <code>{{ item.inputPath }}</code><br />
        URL : {{ item.url }}<br />
        {% if item.outputPath %}
          Output : {{ item.outputPath }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}


