
$primary: #6282c2;
$secondary: #6282c2;
$body-bg: #fff; //white
$text-body: #484d52; //gray
$body-color: $text-body;
$border-radius: 8px;
$special: #e94A45 ; // myred
$black: #000;
$white: #fff;
$yellow: #fde477;
$light-yellow: #fcf4c8;
$green: #57c79a;
$light-green: #6ff8d4;
$dark-yellow: #e4d48e;
$red: #ee3530;
$light-red: #f1857e;
$gray: #989898;

$myred: #e94A45;


$theme-colors: (
  "special": $special,
  "yellow": $yellow,
  "blue": $special,
  "green": $green,
  "red": $red,
  "gray": $gray,
  "light-red": $light-red,
  "light-green": $light-green,
  "light-yellow": $light-yellow,
  "dark-yellowww": $dark-yellow,
  "myred": $myred,
);

body {
  padding-top: 56px;
}


.post-content
h1 {  font-size: 2rem;
}
h2 {  font-size: 1.25rem;
}
h3 {  font-size: 1rem;
}
h4 {  font-size: 1rem;
}
p {
      font-weight: 300;
      color: $black;
      a {
        // color: $blue;
                color: $myred !important;

      }
    }

.lead { font-size : 0.75rem !important}


