{% extends "layouts/base.njk" %}

{% block content %}

  <h1>Archive</h1>

  {{ content | safe }}

  {% set col = "posts_" + locale %}
  {% set postslist = collections[col]%}

  {% include "partials/postslist.njk" %}

{% endblock content %}
