{% extends "layouts/base.njk" %}

{% block content %}
  <div class="container  pt-5" style="height:40vh !important; min-height:400px !important ">
    <div class="row align-items-center justify-content-center">

      <div class="col">
        {{ content | safe }}
      </div>
    </div>
  </div>
  {% set col = "posts_" + locale %}

  {% set postslist = collections[col] | head(-10) %}
  {% set postslistCounter = collections[col] | length %}
  {% for post in postslist | reverse %}
    <div class="post-content">
      <hr>
      <h1>{{ post.data.title }}</h1>
      <p class="lead">
        by
        {{ post.data.author}}
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>

      </p>

      <p>
        {{ post.templateContent | safe }}

      </p>
    </div>
  {% endfor %}

{% endblock content %}
