---
layout: layouts/base.njk
---

<div class="post-content">
  <h1>
    <a href="{{ url }}">{{ title }}</a>
  </h1>
  <p class="lead">
    {# by
        {{ author}} #}
    <time class="postlist-date" datetime="{{ post.date | date('Y-MM-DD') }}">{{ post.date|date("DD MMMM Y", locale) }}</time>
  </p>

  <p>
    {{ content | safe }}

  </p>
</div>
