---
layout: layouts/base.njk
---

<h1>{{ title }}</h1>

{# <!-- Author -->
<p class="lead">
  by
  {{ author}}
</p> #}

<hr>
<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>

<hr>

{{ content | safe }}

</div>
</div>
<p>
<a href="{{ '/' | url }}">← Home</a>
</p>
