<!DOCTYPE html>
<html>
  <head>
    {#     <script>
      var locale = {
        lang: navigator.language || navigator.userLanguage
      }
      nunjucks.renderString("{{ lang }}", locale)
    </script> #}
    <meta http-equiv="Refresh" content="0; /fr/index.html">

  </head>
</html>
